<h1>Weather#sample</h1>
<p>Find me in app/views/weather/sample.html.erb</p>
<p><%= @weather %></p>
<p><%= @weather.tenki %></p>
<p><%= @weather.max %></p>
<p><%= @tenki %></p>
<p><%= @tenki.aaa %></p>
<p><%= @tenki.day %></p>
<p><%= @tenki.tenki %></p>
<p><%= @tenki.max %></p>
<p><%= @tenki.min %></p>
<p><%= @tenki.aaa %></p>
